.App {
  text-align: center;
  min-height: 100vh;
}

.AppContentWrapper {
  position: absolute;
  top: 64px;
  left: 280px;
  right: 0;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

.AppContentInnerWrapper {
  background-color: #48464d;
  min-height: 100%;
}
